<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/icons/MDM.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Meter Data Management</h5>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/icons/HES.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Head End System</h5>
          
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="assets\icons\Pre Payment.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pre Payment</h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/icons/NMS.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Network Management System</h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/icons/WFM.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Work Force Management</h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/icons/UAM.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">User Access Management</h5>
            
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/icons/Reporting.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reporting</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/icons/Analytics.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Analytics</h5>
          
        </div>
      </div>
    </div>
  </div>
</div>
</body>